In [15]:
%reload_ext autoreload
%autoreload 2

In [2]:
import my_tools as tools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import statsmodels.api as sm

In [3]:
eps = 0.01
alpha = 0.1
steps = 1000

In [23]:
df = pd.read_csv('../student_habits_performance_changed.csv')
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   str
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   str
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   bool
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   int64
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   int64
 12  internet_quality               1000 non-null   int64
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   bool
 15  exam_score                     1000 non-null   float64
dtypes: bool(2), float64(6), int64(6), str(2)
memory usage: 111.5 KB

# Qualitative Predictor: Extracurricular_participation

In [5]:
df['extracurricular_participation'] = df['extracurricular_participation'].apply(lambda x: 1 if x == True else 0)

In [16]:
X = df[['study_hours_per_day', 'extracurricular_participation']].values
y = df['exam_score']

In [17]:
df1, df2 = tools.get_regression_stats(X, y)

In [18]:
display(df1)
display(df2)

            coef  Std. err.     t-stat        p-value       2.5%      97.5%
names
b0     35.868478   0.816731  43.917137  2.664552e-235  34.259518  37.477438
b1      9.490385   0.205556  46.169375  7.986750e-250   9.085440   9.895330
b2      0.129584   0.648031   0.199965   8.415484e-01  -1.147038   1.406206

              values
names
RSE         9.543320
R^2         0.681647
Adj R^2     0.681009
F-value  1065.806800

In [21]:
X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(type(est))
print(est2.summary())

<class 'statsmodels.regression.linear_model.OLS'>
                            OLS Regression Results
==============================================================================
Dep. Variable:             exam_score   R-squared:                       0.681
Model:                            OLS   Adj. R-squared:                  0.681
Method:                 Least Squares   F-statistic:                     1066.
Date:                Sat, 21 Feb 2026   Prob (F-statistic):          2.61e-248
Time:                        14:38:32   Log-Likelihood:                -3673.3
No. Observations:                1000   AIC:                             7353.
Df Residuals:                     997   BIC:                             7367.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         35.8685      0.817     43.917      0.000      34.266      37.471
x1             9.4904      0.206     46.169      0.000       9.087       9.894
x2             0.1296      0.648      0.200      0.842      -1.142       1.401
==============================================================================
Omnibus:                        3.256   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.196   Jarque-Bera (JB):                2.743
Skew:                          -0.003   Prob(JB):                        0.254
Kurtosis:                       2.744   Cond. No.                         11.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Qualitative Predictor: Part-Time Job (Mean Interpretetation)

In [32]:
df = pd.read_csv('../student_habits_performance_changed.csv')

In [33]:
df['part_time_job'] = df['part_time_job'].apply(lambda x: -1 if x is False else 1)

In [34]:
X = df[['study_hours_per_day', 'part_time_job']]
y = df['exam_score']

In [35]:
df1, df2 = tools.get_regression_stats(X, y)

In [36]:
display(df1, df2)

            coef  Std. err.     t-stat        p-value       2.5%      97.5%
names
b0     35.883187   0.811800  44.201999  3.759432e-237  34.283941  37.482434
b1      9.489392   0.205644  46.144746  1.147710e-249   9.084273   9.894510
b2     -0.052673   0.367455  -0.143345   8.860470e-01  -0.776559   0.671214

              values
names
RSE         9.543413
R^2         0.681641
Adj R^2     0.681002
F-value  1065.776302

In [39]:
X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             exam_score   R-squared:                       0.681
Model:                            OLS   Adj. R-squared:                  0.681
Method:                 Least Squares   F-statistic:                     1066.
Date:                Sat, 21 Feb 2026   Prob (F-statistic):          2.64e-248
Time:                        15:06:16   Log-Likelihood:                -3673.3
No. Observations:                1000   AIC:                             7353.
Df Residuals:                     997   BIC:                             7367.
Df Model:                           2
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                  35.8832      0.812     44.202      0.000      34.290      37.476
study_hours_per_day     9.4894      0.206     46.145      0.000       9.086       9.893
part_time_job          -0.0527      0.367     -0.143      0.886      -0.774       0.668
==============================================================================
Omnibus:                        3.194   Durbin-Watson:                   2.012
Prob(Omnibus):                  0.202   Jarque-Bera (JB):                2.700
Skew:                          -0.002   Prob(JB):                        0.259
Kurtosis:                       2.745   Cond. No.                         11.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Qualtitative Predictors: Gender

In [25]:
df = pd.read_csv('../student_habits_performance_changed.csv')

In [26]:
X = pd.DataFrame()
y = df['exam_score']

In [27]:
type(X)

pandas.DataFrame

In [28]:
X['female'] = df['gender'].apply(lambda x: 1 if x == 'Female' else 0)
X['other'] = df['gender'].apply(lambda x: 1 if x == 'Other' else 0)

In [29]:
X.shape

(1000, 2)

In [30]:
X = X.values

In [31]:
df1, df2 = tools.get_regression_stats(X, y, int_=True)
display(df1, df2)

            coef  Std. err.     t-stat   p-value       2.5%      97.5%
names
b0     69.368344   0.773939  89.630248  0.000000  67.843684  70.893004
b1      0.373028   1.092237   0.341527  0.732779  -1.778679   2.524736
b2      1.279275   2.720607   0.470217  0.638303  -4.080320   6.638870

            values
names
RSE      16.903083
R^2       0.001285
Adj R^2  -0.000718
F-value   0.142283

In [24]:
X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             exam_score   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.002
Method:                 Least Squares   F-statistic:                    0.1423
Date:                Sat, 21 Feb 2026   Prob (F-statistic):              0.867
Time:                        15:26:17   Log-Likelihood:                -4244.9
No. Observations:                1000   AIC:                             8496.
Df Residuals:                     997   BIC:                             8511.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         69.3683      0.774     89.630      0.000      67.850      70.887
female         0.3730      1.092      0.342      0.733      -1.770       2.516
other          1.2793      2.721      0.470      0.638      -4.059       6.618
==============================================================================
Omnibus:                       15.797   Durbin-Watson:                   1.905
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               11.512
Skew:                          -0.153   Prob(JB):                      0.00316
Kurtosis:                       2.572   Cond. No.                         5.82
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.